.full-height-with-navbar {
    height: calc(100vh - 56px);
}

.btn-primary{
    background-color: #00A3FF !important;
    border-color: #00A3FF;
    font-family: 'Gantari', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.176px;
}

.btn:hover{
    border-color: #00A3FF !important;
}
